@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,400,500,600,700');

*{
	margin:0px;
	box-sizing: border-box;
}
.pre-header {
	width: 100%;
	position: fixed;
	background-color: #9F232D;
	z-index: 99;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}


/* Vai pra base.css*/

.container{
	margin-left: auto;
	margin-right: auto;
	width: 90% !important;
	max-width: 1400px;
}

/* End-base.css*/

.pre-header .content-preHeader{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #9F232D;
	color: white;
	width: 100%;
	height: 30px;
	text-align: center;
	align-items: center;

}

.pre-header .content-preHeader > div{
	margin-left: 2em;
	display: flex;
	align-items: center;
}

.pre-header .content-preHeader > div i{
	margin-right: 0.5em;
	color: white;
	font-size: 22px;
}

.header{
	margin-top: 1.9%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 120px;
    position: fixed;
    transition: top 0.3s;
    z-index: 9;
    /*background: rgba(255, 255, 255, 0.75);*/
    background-color:white;
}

.header .content-header{
	/*width: 100%;
	display: flex;*/
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}
.navbar {
	margin-top: 2%;
}
.navbar ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin-top: 4%;
}

.navbar ul li a {
	font-family: 'Encode Sans', sans-serif;
	font-weight: 500;
	font-size: 15pt;
	color: #4D4D4D;
	margin: 10px;
    display: block;
	padding: 5px;
	text-decoration: none;
}

.navbar ul li a:hover
{
	background-color: #9F232D;
	color:white;
}
.content-header a {
	margin-top: 3%;
}
.logo img {
  width: auto;
}




/* ### Home ### */
.home{

	width:auto;
	height: auto;
	background-image: url('../images/backHome.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.home .content-home{

	display: flex;
	flex-direction:column;
	align-items: center;
	text-align: center;
	justify-content: center;
	align-content: center;
	/*position:relative;*/
	padding-top: 100px;
	/*left: 45%;*/
	height: 80vh;
}

.home h1{
	font-family: 'Encode Sans', sans-serif;
	font-weight: 700;
	color:white;
	text-align: center;
	font-size: 40pt;
}

.home .button-home{

 
  padding: 12px 16px;
  border: none;
  background: white;
  color: #f2f2f2;
  width:15%;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 700;
  color:  #9F232D;
  font-size: 18pt;
  /*text-transform: uppercase;*/
  letter-spacing: .09em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s;
  margin-top: 2%;


}

.home .receber-noticia{
	width: 100%;
	height: 20vh;
	background-color: #9F232D;
	
	display: flex;




}

.home .title{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	background-color: white;
	height: 20vh;
	position: relative;
}

.home .title:before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -40px;
    display: block;
    width: 80px;
    background: white;
    transform: skew(27deg);

 }

.home .title p{
	font-family: 'Encode Sans', sans-serif;
	font-size:  15pt;
	font-weight: 400;
	line-height: 1.1em;
	text-align: center;
	color: #4D4D4D;
	z-index:9999;
}
.home .email{
	width: 50%;
    margin-left: 15%;
    margin-top: 3%;
}

.home input
{
	margin-bottom: 20px;
  	width: 100%;
  	padding: 15px;
  	
}
.home .send-email{
 	
    display: flex;
    height: 9vh;
    width: 5%;
    margin-top: 2.5%;
    margin-left: 2.6%;
    align-items: center;
    justify-content: center;
    background-color: #4D4D4D;
    
 }

 .home .send-email i{
 	color: white;
    font-size: 40pt;
    margin: 0;
    
 }



/* ########################## Sobre ########################################## */

.sobre{
	padding-top: 96px;
    padding-bottom: 96px;
    background-color:white;
}

.sobre .content-sobre
 {
	display: flex;
	flex-direction:column;
	width: 90%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.sobre h1{
	
	font-family: 'Encode Sans', sans-serif;
  	color:  #9F232D;
	font-size:  55pt;
	font-weight: 700;
	line-height: 1.1em;
	text-align: center;

}

.sobre p{
	font-family: 'Encode Sans', sans-serif;
	margin-top: 2%;
	font-size:  20pt;
	font-weight: 400;
	line-height: 1.1em;
	text-align: center;
	margin-bottom: 5%;
}

.list-sobre{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


.list-sobre .item{
	max-width: 50%;
    margin-right: 5%;
    margin-bottom: 50px;
	border:none;
	border-radius: 8px;
	height: 140px;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	
}


/*.list-sobre .item:hover
{ 
	transform: scale(2,3);

}*/
.list-sobre .item:nth-child(2n){
	background-image: url('../images/sobre.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 0 10px  rgba(0,0,0,0.5);

}
.list-sobre .item:nth-child(2n) p{
	font-family: 'Encode Sans', sans-serif;
	font-size:  17pt;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.1em;
	margin-left: 2%;
	color:white;
	text-align: center;
	padding: 1em 0 1em 0;
}


.list-sobre .item:nth-child(3n){
	margin-right: 0%;

}

.list-sobre .item p{
	font-size:  15pt;
	font-weight: 500;
	line-height: 1.1em;
	margin-left: 2%;
	color: #9F232D;
	text-align: center;
}


/*---Equipamentos -- */

.equipamentos{
	padding-top: 96px;
	padding-bottom: 96px;

}


.equipamentos .content-equipamentos
 {
	display: flex;
	flex-direction:column;
	width: 90%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.equipamentos h1{
	
	font-family: 'Encode Sans', sans-serif;
  	color: #9F232D;
	font-size: 55pt;
	font-weight: 700;
	line-height: 1.1em;
	text-align: center;

}



.list-equipamento{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2%;
}


.list-equipamento .item-equipamento{
	flex: 0 33%;
	margin-right: 3%;
	flex-wrap: wrap;
	margin-bottom: 3em;
	border:solid #9F232D;
	background-color: #ECECEC;
	position: relative;
	border-width: 1px;
	
	
}

.list-equipamento .item-equipamento:nth-child(2n){
	margin-right: 0%;

}

.list-equipamento .item-equipamento h5{
	font-size: 1.5em;
    /* margin: 0; */
    margin: 10px 0px 0px 0px;
    /* margin-top: 7px; */
    font-weight: bold;
    line-height: 1.1em;
    margin-left: 2%;
    color: #9F232D;
    text-align: center;
}


.list-equipamento .item-equipamento p{
	font-size: 1.5em;
    font-weight: 400;
    /* line-height: 2em; */
    margin-left: 2%;
    
    margin-bottom: 3%;
    color: #9F232D;
    text-align: center;
}


 .list-equipamento .item-equipamento img{
 	width: 25%;
    position: absolute;
    margin-top: 10%;
    margin-left: -13%;
 }

 /* ######### Review ############ */

.review {
    width: 100%;
    position: relative;
    margin-top: 6em;
    overflow: hidden;
}

.review .slider-itens {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.review .slider-itens img {
    width: 100%;
}

.review .slider-itens .slick-dots {
    bottom: 0.5em;
    z-index: 2;
    display: flex;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    justify-content: center;
}
.review .slider-itens .slick-dots{
	margin-bottom: 10%;
}

.review .slider-itens .slick-dots li {
    height: 16px;
    width: 16px;
    opacity: 0.4;
    margin-right: 0.3em;
}

.review .slider-itens .slick-dots li button {
    height: 16px;
    color: #FFFFFF;
    background-color: #FFFFFF !important;
    width: 16px;
    border-radius: 0px;
    transition: 0.3s ease-out;
    border-radius: 500px;
}

.review .slider-itens .slick-dots .slick-active {
    opacity: 0.9 !important;
}

.review .slider-itens .item{
	position: relative;
}

.slider-content{
	position: absolute;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;

}

.slider-content h1{
	margin-bottom: 5%;
	font-family: 'Encode Sans', sans-serif;
	font-weight: 700;
	font-size:3em;
	color: white;
	text-align: center;
}

.slider-content p{
	
	font-family: 'Encode Sans', sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
}





/*
 ##### Equipe ###### 

.equipe{
	padding-top: 96px;
	padding-bottom: 96px;
}

.equipe .content-sobre
 {
	display: flex;
	flex-direction:column;
	width: 90%;
	-- deixa os espaçamentos, centralizando mais o conteúdo
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}
.equipe 


*/





 
/* ################################## Notícias ########################################## */

.noticias{
	padding-top: 96px;
    padding-bottom: 96px;
    background-color:white;

}

.noticias .noticias-content{
	display: flex;
	flex-direction:column;
	width: 90%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;

}

.noticias h1{

	font-family: 'Encode Sans', sans-serif;
  	color:  #9F232D;
	font-size:  55pt;
	font-weight: 700;
	line-height: 1.1em;
	text-align: center;
}

.noticias .noticias-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2%;
}

.noticias-row .noticia-item{
	flex: 0 22%;
	margin-right: 3%;
	flex-wrap: wrap;
	margin-bottom: 3em;
	position: relative;
	border-width: 1px;
}

.noticias-row .noticia-item:nth-child(2n){
	margin-right: 0%;
}

.image{position:absolute;}
/*.image .image-noticia{position: relative;}*/
.image .image-noticia img{width: 70%; height: 30vh;}
.image .data 
{
	height: 8vh;
    position: absolute;
   	left: 0;
    top: 0;
    width: 13%;
    font-family:'Encode Sans', sans-serif;
    background-color:#9F232D;
    text-align: center;
    color:white;

}

.publicacao{position: absolute; }
.publicacao p
{
	position: relative; 
	margin-top: 160%;
	font-family:'Encode Sans', sans-serif;
	font-size:10pt;

}
.publicacao span{color:#9F232D; font-family:'Encode Sans', sans-serif;}
.resumo h4{margin-top: 80%; font-family:'Encode Sans', sans-serif;}
.resumo p{margin-top:2%; font-family:'Encode Sans', sans-serif;}
.resumo a{
	text-decoration: none;
	font-family: 'Encode Sans', sans-serif;
	font-size: 12pt;
	color: #4D4D4D;
	
}
.resumo i{margin-left: 2%;}

/* ############################### Single Noticia #########################################*/

.noticia
{
	padding-top: 96px;
    padding-bottom: 96px;
    background-color:white;
}

.noticia h1
{
	font-family: 'Encode Sans', sans-serif;
  	color:  #9F232D;
	font-size:  40pt;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 3%;
	
}
.noticia .noticia-content{
	display: flex;
	flex-direction:row;
	width: 90%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}
.noticia .info{width:60%;}
.noticia .info img{
	margin-left:5%;
	margin-bottom: 3%;
	width:50%;
}
.noticia .info p{
	font-family: 'Encode Sans', sans-serif;
	font-weight: 400;
	font-size:15pt;
	margin-left: 5%;
}
.noticia .side-nav
{
	width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.noticia .title{
	border-radius: 8px;
	border:1px solid #9e9e9e;
  	padding: 15px;
  	letter-spacing: .09em;
  	width: 60%;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-size:15pt;

}

.navbar-noticias ul {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 4%;
}

.navbar-noticias ul li{margin: 0 0 15px}

.navbar-noticias ul li i{display: inline;}



.navbar-noticias ul li a {
	font-family: 'Encode Sans', sans-serif;
	font-weight: 500;
	font-size: 15pt;
	color: #4D4D4D;
	margin: 10px;
    display: block;
	padding: 5px;
	text-decoration: none;
	display: inline;
}

.navbar-noticias ul li a:hover
{
	background-color: #9F232D;
	color:white;
}

/* ########################## Aba-Categorias ############################### */

.aba-categorias{
	padding-top: 96px;
    padding-bottom: 96px;
}

.aba-categorias .content-categorias{
	display: flex;
	flex-direction:column;
	width: 90%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.box-categorias
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2%;
}


.box-categorias .categoria{
	
	margin-right: 3%;
	flex-wrap: wrap;
	margin-bottom: 3em;
	position: relative;
	border-width: 1px;
}

.box-categorias .categoria:nth-child(3n){ margin-right: 0%;}
.categoria .image-categoria img{width:70%;}
.categoria .image-categoria, .categoria .nome, .categoria .dimensao, .categoria .detalhes
{
	text-align: center;
	margin-bottom: 2%;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.categoria .detalhes a{
	text-decoration: none;
	color:  #9F232D;;
}

.categoria .detalhes i{color:  #9F232D;}





/* ###################### Formulario ########################## */

.contact{
	padding-top: 96px;
    padding-bottom: 96px;
    background-color:  #4D4D4D;
}
.contact .content-formulario{
	margin: 0 60px;
	display: flex;
	flex-direction:row;
	width: 75%;
	/* deixa os espaçamentos, centralizando mais o conteúdo*/
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;

}




/* --- Forms ---------- */

.contact .orcamento{
	display: flex;
	flex-direction:column;
	width: 40%;
	
  	/*max-width: 1200px;*/
  	/*margin: 0 auto;*/

}

.orcamento h1{
	margin-bottom: 5%;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
	color: white;
}

.orcamento *{
	
  box-sizing: border-box;
 
}

.flex-outer{
	list-style-type: none;
  	padding: 0;
}

.flex-outer li{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}

.flex-outer > li > input, .flex-outer > li > textarea{
  margin-bottom: 20px;
  width: 100%;
}

::-webkit-input-placeholder {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
  	color:  #282B32;
   
}

:-moz-placeholder {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
  	color:  #282B32;
}

::-moz-placeholder {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
  	color:  #282B32;
}

:-ms-input-placeholder {  
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
  	color:  #282B32;
}

.flex-outer > li:nth-child(2){
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.flex-outer > li:nth-child(2) > input{
	width: 47%;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  border-radius: 8px;
  border:none;

}

.flex-outer li button {
  /*margin-left: 140px;*/
  padding: 12px 16px;
  border: none;
  background: white;
  color: #f2f2f2;
  width:30%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 500;
  color:  #282B32;
  margin-left: 30%;
  /*text-transform: uppercase;*/
  letter-spacing: .09em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s;

}
.flex-outer li button:hover{
	background: #C5483F;
  	color: #fff;
}


/* --- Localizacao ---------- */

.localizacao{
	display: flex;
	flex-direction:column;
	width: 50%;
  	/*max-width: 1200px;*/
  	/*margin: 0 auto;*/

}

.localizacao h1{
	margin-bottom: 5%;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 500;
	color: white;
}

.localizacao p{
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-weight: 300;
	color: white;
	margin-bottom: 2%;
}

.localizacao #map{
    padding-right: 5%;
    width: 100%;
}

.localizacao #map iframe{
		width: 100%;
	}

/* ###### Footer ######## */

footer{
	
	background-color: #C5483F;
	font-size: 1em;
	color: #fff;
}

footer .content-footer
{
	background-color: #C5483F;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 20px;
}

footer h4{
	font-size: 14px;
	font-family: 'Encode Sans', sans-serif;
}

footer span{
	font-size: 1.1em;
	font-family: 'Encode Sans', sans-serif;
}

footer a {
	width:20%;
	margin-left:0px;
	font-family: 'Encode Sans', sans-serif;
	color: #fff;
	
}

footer a:hover {
	
	color:#000;
}
